.idea/
.vscode/
node_modules/
build
.DS_Store
__pycache__/
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
yarn.lock

client/public/*.bundle.js
client/js/rl/public/*.bundle.js

# herokuビルド成果物への対応
/node_modules
npm-debug.log
/*.env
