@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

body {
  height: 100%;
  width: 100%;
  background-color: #262544;
  margin: 10;
  padding: 10;
  color: white;
  overflow: hidden;
  font-weight: 100;
  font-family: "Quicksand", sans-serif;
}

button {
  font-family: "Quicksand", sans-serif;
  font-weight: medium;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.title:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px; /*下線の上下位置調整*/
  display: inline-block;
  width: 150%; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #628da5; /*下線の色*/
}

.game {
  margin: 10px 0;
  display: inline-block;
  position: relative;
  margin-top: 30px;
  z-index: 0;
}

/* リザルト画面 */
.result-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.ranks {
  display: inline-block;
}
.nicknames {
  display: inline-block;
  margin-right: 40px;
}
.threshold {
  display: inline-block;
  margin-right: 10px;
}
.ranking-scores {
  display: inline-block;
  text-align: left;
}

.your-scores {
  display: inline-block;
  text-align: left;
}

/* key-area */
.key-area {
  display: inline-block;
  margin: 10px 0;
  margin-top: 0px;
}

@media screen{
  /*　for iPhone */
  .title {
    display: inline-block;
    position: relative;
    font-size: 120px;
    margin-bottom: 10px;
  }
  .button-description {
    margin-top: 20px;
    font-size: 30px;
  }

  .result-title {
    margin-top: 55px;
    font-size: 70px;
  }
  .result-subtitle {
    font-size: 40px;
  }
  .result-ranking {
    margin-top: 40px;
    font-size: 40px;
  }

  .ranks {
    display: inline-block;
  }
  .result-ranking {
    margin-top: 40px;
    font-size: 40px;
  }

  .result-your {
    margin-top: 20px;
    font-size: 40px;
  }

  .your-result-index {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
  }

  input.input-nickname {
    width: 300px;
    height: 80px;
    font-size: 25px;
    border-radius: 15px;
    text-align: center;
    margin-right: 20px;
  }

  button.register-button {
    font-size: 25px;
    width: 150px;
    height: 80px;
    border-radius: 25px;
    margin-left: 20px;
  }

  .register-area {
    margin-top: 60px;
  }

  #game-canvas {
    width: 777px;
    height: 888px;
  }
  .rl-selection-button-container {
    margin: 10px 0;
  }
  .rl-selection-button-container button {
    font-size: 30px;
    width: 200px;
    height: 80px;
    line-height: 70px;
    border-radius: 20px;
  }

  table {
    margin: auto;
    width: 500px;
    height: 220px;
  }

  .time-area {
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
    margin-top: 20px;
    width: 40px;
  }

  .time-area .time-description {
    font-size: 30px;
  }

  .time-area .time {
    margin-top: 300px;
    font-size: 70px;
  }

  .score-area {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 20px;
    width: 80px;
  }

  .score-area .score-description {
    font-size: 30px;
  }

  .score-area .score {
    text-align: left;
    margin-top: 200px;
    font-size: 60px;
  }

  #start-button {
    font-size: 40px;
    display: block;
    width: 240px;
    height: 100px;
    line-height: 35px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
  }

  #ranking-button {
    font-size: 40px;
    display: block;
    width: 240px;
    height: 100px;
    line-height: 35px;
    border-radius: 20px;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .start_ranking_buttons {
    float: left;
  }

  .right-key {
    width: 0;
    height: 0;
    border-left: 230px solid white;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    float: left;
    margin-top: 12px;
    margin-left: 70px;
  }
  .right-key-color {
    border-left: 230px solid #628da5;
  }

  .left-key {
    width: 0;
    height: 0;
    border-right: 230px solid white;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    float: left;
    margin-top: 12px;
    margin-right: 70px;
  }
  .left-key-color {
    border-right: 230px solid #628da5;
  }
}


@media screen and (min-width: 1024px) {
  /*　for PC　*/
  .title {
    display: inline-block;
    position: relative;
    font-size: 65px;
    margin-bottom: 10px;
  }
  .button-description {
    font-size: 18px;
  }

  .result-title {
    margin-top: 25px;
    font-size: 30px;
  }

  .result-subtitle {
    font-size: 20px;
  }
  .result-ranking {
    margin-top: 20px;
    font-size: 16px;
  }

  .result-your {
    margin-top: 20px;
    font-size: 16px;
  }

  .your-result-index {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
  }

  input.input-nickname {
    width: 40%;
    height: 40px;
    font-size: 12px;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
  }

  button.register-button {
    font-size: 12px;
    width: 70px;
    border-radius: 20px;
    height: 40px;
  }

  .register-area {
    margin-top: 30px;
  }
  #game-canvas {
    width: 350px;
    height: 400px;
  }
  .rl-selection-button-container {
    margin: 10px 0;
  }
  .rl-selection-button-container button {
    font-size: 13px;
    width: 80px;
    height: 40px;
    line-height: 35px;
    border-radius: 20px;
  }

  table {
    margin: auto;
    width: 250px;
    height: 110px;
  }

  .time-area {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 20px;
    width: 40px;
  }

  .time-area .time-description {
    font-size: 20px;
  }

  .time-area .time {
    margin-top: 130px;
    font-size: 45px;
  }

  .score-area {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 20px;
    width: 40px;
  }

  .score-area .score-description {
    font-size: 20px;
  }

  .score-area .score {
    margin-top: 80px;
    font-size: 45px;
  }

  #start-button {
    font-size: 13px;
    width: 80px;
    height: 40px;
    line-height: 35px;
    border-radius: 20px;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 5px;
  }

  #ranking-button {
    font-size: 13px;
    width: 80px;
    height: 40px;
    line-height: 35px;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .right-key {
    width: 0;
    height: 0;
    border-left: 40px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    float: left;
    margin-top: 7px;
  }
  .right-key-color {
    border-left: 40px solid #628da5;
  }

  .left-key {
    width: 0;
    height: 0;
    border-right: 40px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    float: left;
    margin-top: 7px;
  }
  .left-key-color {
    border-right: 40px solid #628da5;
  }
}
