@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");


body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #262544;
  color: white;
  font-weight: 100;
  font-family: "Quicksand", sans-serif;
  touch-action: manipulation;
  user-select: none;
  -webkit-touch-callout:none; /* リンク長押しのポップアップを無効化 */
  -webkit-user-select:none; /* テキスト長押しの選択ボックスを無効化 */
}

button {
  font-family: "Quicksand", sans-serif;
  font-weight: medium;
}

.pressed-buttons-color {
  background-color: #CEB845 !important;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.title {
  display: inline-block;
  position: relative;
  font-size: 4em;
  margin-bottom: 0.5%;
}

.title:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px; /*下線の上下位置調整*/
  display: inline-block;
  width: 150%; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #628da5; /*下線の色*/
}

.rl-selection-button-container {
  margin: 10px 0;
}


/* スタート画面 */
.start-screen{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 0;
  background-color: rgba(255,255,255, 0.15);
}





/* リザルト画面 */
.result-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.threshold {
  display: inline-block;
  margin-right: 5%;
}
.ranking-scores {
  display: inline-block;
  text-align: left;
}

.your-scores {
  display: inline-block;
  text-align: left;
}

.nicknames {
  display: inline-block;
  margin-left: 0;
  text-align: left;
  width: 30%;
}

.ranks {
  display: inline-block;
  width: 15%;
}

#result-subtitle-rlStep {
  display: inline-block;
  width: 15%;
}

.register-area {
  margin-top: 8%;
}


/* key-area */
.key-area {
  display: inline-block;
  margin: 10px 0;
  margin-top: 0;
}

.game {
  margin: 10px 0;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 0px;
  z-index: 0;
}


@media screen{
  /*　for iPhone */

  .button-description {
    font-size: 1.5em;
    margin-top: 0.5%;
  }

  #start-button{
    font-size: 5em;
    font-weight: 500;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    width: 50%;
    color: #262544;
    background-color: #FFFFFF;
    border-color: #262544;
    border-width: 1px;
    margin-top: 50%;
  }

  .loading-screen{
    position: absolute;
    display: none;
    width: 50%;
    height: 50%;
    margin-top: 3%;
    margin-left: 60%;
    font-size: 2.5em;
  }

  .ranking-scores {
    width: 30%;
  }

  .result-title {
    margin-top: 3%;
    font-size: 4.5em;
  }

  .result-subtitle {
    font-size: 2.5em;
  }

  .result-ranking {
    margin-top: 5%;
    font-size: 2.5em;
    margin-left: 20%;
  }

  .result-your {
    margin-top: 20px;
    font-size: 2.5em;
  }

  .your-result-index {
    display: inline-block;
    margin-left: 12%;
    margin-right: 12%;
    text-align: left;
  }

  .input-nickname {
    width: 40%;
    height: 80px;
    font-size: 1.5em;
    border-radius: 10px;
    text-align: center;
    margin-right: 3%;
  }

  .register-button {
    font-size: 1.5em;
    width: 20%;
    height: 80px;
    border-radius: 25px;   
    color: #262544;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-width: 1px;
    margin-left: 20px;
  }

  #game-canvas {
    width: 714px;
    height: 816px;
  }

  .rl-selection-button-container button {
    font-size: 1.8em;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-width: 5px;
    background-color: #262544;
    width: 200px;
    height: 75px;
    line-height: 70px;
    border-radius: 20px;
  }

  table {
    margin: auto;
    width: 500px;
    height: 200px;
  }

  .time-area {
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
    margin-top: 20px;
    width: 5%;
  }

  .time-area .time-description {
    font-size: 2em;
  }

  .time-area .time {
    margin-top: 300px;
    font-size: 4em;
  }

  .score-area {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 20px;
    width: 8%;
  }

  .score-area .score-description {
    font-size: 2em;
  }

  .score-area .score {
    text-align: left;
    margin-top: 200px;
    font-size: 4em;
  }

  #game-button {
    font-size: 2em;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
    background-color: #262544;
    display: block;
    width: 190px;
    height: 100px;
    line-height: 35px;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 30px;
    margin-left: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
  }

  #ranking-button {
    font-size: 2em;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-width:0px 5px 5px 5px;
    background-color: #262544;
    display: block;
    width: 190px;
    height: 100px;
    line-height: 35px;
    border-radius: 20px;
    /* margin-top: 40px; */
    margin-right: 30px;
    margin-left: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
  }

  .game_ranking_buttons {
    float: left;
  }

  .right-key {
    width: 0;
    height: 0;
    border-left: 200px solid white;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
  }
  .right-key-color {
    border-left: 200px solid #628da5;
  }

  .left-key {
    width: 0;
    height: 0;
    border-right: 200px solid white;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    float: left;
    margin-top: 5px;
    margin-right: 50px;
  }
  .left-key-color {
    border-right: 200px solid #628da5;
  }
}


@media screen and (min-width: 1024px) {
  /*　for PC　*/

  .button-description {
    font-size: 1.0em;
  }

  #start-button{
    font-size: 2em;
    font-weight: 500;
    border-radius: 20px;
    width: 45%;
    color: #262544;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-width: 1px;
    margin-top: 50%;
  }

  .loading-screen{
    position: absolute;
    display: none;
    width: 50%;
    height: 50%;
    margin-top: 3%;
    margin-left: 60%;
    font-size: 1.2em;
  }

  .ranking-scores {
    width: 20%;
  }

  .result-title {
    margin-top: 8%;
    font-size: 2em;
  }

  .result-subtitle {
    font-size: 1em;
  }

  .result-ranking {
    margin-top: 5%;
    font-size: 1em;
    margin-left: 0;
  }

  .result-your {
    margin-top: 5%;
    font-size: 1em;
  }

  .your-result-index {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
  }

  .input-nickname {
    width: 40%;
    height: 40px;
    font-size: 0.8em;
    border-radius: 10px;
    text-align: center;
    margin-right: 0;
  }

  .register-button {
    font-size: 0.8em;
    width: 20%;
    height: 40px;
    border-radius: 10px;
  }

  #game-canvas {
    width: 350px;
    height: 400px;
  }

  .rl-selection-button-container button {
    font-size: 0.8em;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    background-color: #262544;
    width: 80px;
    height: 40px;
    line-height: 35px;
    border-radius: 10px;
  }

  table {
    margin: auto;
    width: 15%;
    height: 110px;
  }

  .time-area {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 20px;
    width: 40px;
  }

  .time-area .time-description {
    font-size: 1.5em;
  }

  .time-area .time {
    margin-top: 130px;
    font-size: 2em;
  }

  .score-area {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 20px;
    width: 40px;
  }

  .score-area .score-description {
    font-size: 1.5em;
  }

  .score-area .score {
    margin-top: 80px;
    font-size: 2em;
  }

  #game-button {
    font-size: 0.8em;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-width:3px 0px 3px 3px;
    background-color: #262544;
    width: 85px;
    height: 45px;
    line-height: 35px;
    float: left;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  #ranking-button {
    font-size: 0.8em;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-width: 3px;
    background-color: #262544;
    width: 85px;
    height: 45px;
    line-height: 35px;
    float: left;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .right-key {
    width: 0;
    height: 0;
    border-left: 45px solid white;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    float: left;
    margin-top: 0;
    margin-left: 40px;
  }
  .right-key-color {
    border-left: 45px solid #628da5;
  }

  .left-key {
    width: 0;
    height: 0;
    border-right: 45px solid white;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    float: left;
    margin-top: 0px;
    margin-right: 40px;
  }
  .left-key-color {
    border-right: 45px solid #628da5;
  }
}
